<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Customer Relationship Management</title>
</head>
<body>
  <h1>Welcome to the CRM!</h1>
  <p>Main Menu</p>
  <ul>
    <li><a href="/contacts"></a>View all contacts</li>
  </ul>
</body>
</html>