<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Customer Relationship Management</title>
<!--
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600' rel='stylesheet' type='text/css'>
-->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="outer-container">
    <nav class="inner-container">
      <ul>
        <li><a href="/contacts" class="button">View all contacts</a></li>
        <li><a href="/contacts/new" class="button">Add a contact</a></li>
      </ul>
    </nav>

    <section class="inner_container">
      <h1>Customer Relationship Management</h1>
    </section>
  </header>
  <section class="outer-container">
    <section id="container" class="inner-container">
      <%= yield %>
    </section>
  </section>
  <footer>
    <ul class="social">
      <li>
        Website:
        <a href="https://blog.michaelfich.com">https://blog.michaelfich.com</a>
      </li>
      <li>
        Twitter:
        <a href="https://twitter.com/michael_fich">@michael_fich</a>
      </li>
      <li>
        Github:
        <a href="https://github.com/michaelfich">https://github.com/michaelfich</a>
      </li>
    </ul>

  </footer>
</body>
</html>