<h2>Create new contact</h2>

<form action="/contacts" method="post" class="add_contact">
  <input type="text" name="first_name" placeholder="First name">
  <input type="text" name="last_name" placeholder="Last name">
  <input type="text" name="email" placeholder="Email address">
  <input type="text" name="notes" placeholder="Notes">
  <input type="submit" name="Submit" class="submit">
</form>
