body {
  width: 800px;
  margin: 20px auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  color: #222;
}

a {
  color: red;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

header {
  border-bottom: 1px solid #444;
  margin-bottom: 20px;
}

h1 {
  padding-top: 50px;
  letter-spacing: -2px;
  color: #444;
  font-size: 3em;
  margin-bottom: 0;
  text-align: center;
}

h2 {
  color: #666;
  font-style: oblique;
  text-align: center;
}

nav > ul {
  list-style: none;
  padding: 0;
  text-align: right;
}

nav > ul li {
  display: inline-block;
}

nav > ul li a {
  display: block;
  padding: .5em 2em;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #555;
}

nav > ul li a:hover,
nav > ul li a:active {
  border: 1px solid red;
  text-decoration: none;
  color: red;
}

form div.field {
  width: 400px;
  margin: 0 auto 10px;
}

form div.field label {
  display: block;
  margin: 0 auto;
  font-size: .85em;
  color: #777;
  text-transform: uppercase;
  font-weight: 800;
}

form div.field input {
  display: block;
  padding: 10px;
  width: 376px;
}

form div.button {
  text-align: center;
}

footer {
  border-top: 1px solid #444;
  margin-top: 20px;
  padding-top: 5px;
}

ul.social {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  text-align: center;
}

ul.social li {
  display: inline;
  margin: 0 5px;
}

.show_contact {
  width: 300px;
  margin: 30px auto;
  padding: 0 50px;
}

.show_contact h2 {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}