body {
  background: #2a2a2a;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  color: red;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  letter-spacing: -0.075em;
  color: #fff;
}

h2 {
  text-transform: uppercase;
  color: #777;
  font-weight: bold;
  font-size: 1.25em;
  letter-spacing: -0.05em;
  line-height: 1em;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  text-align: left;
}

.outer-container {
  width: 100%;
}

.inner-container {
  width: 960px;
  margin: 0 auto;
}

/* header */

header.outer-container {
  margin: 0 auto;
}

  header.outer-container section.inner-container {
    position: relative;
    padding: 120px 0 0;
  }

  ul.primary {
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px 0;
    padding: 0;
    width: 315px;
    text-align: right;
  }

  ul.primary li a {
    display: inline-block;
    border: 1px solid #eee;
    width: 150px;
    color: #eee;
    cursor: pointer;
    text-align: center;
    font-size: 10pt;
    margin: 1px 0 1px 5px;
    line-height: 2.4em;
    float: left;
  }

  ul.primary li a:hover {
    text-decoration: none;
    color: red;
    border-color: red;
  }

/* footer */

section.outer-container {
  background: white;
  padding: 50px 0;
}

footer.outer-container {
  padding-top: 10px;
  padding-bottom: 80px;
}

  ul.social {
    list-style: none;
    margin: .1em 0;
    padding: 0;
    text-align: center;
  }

  ul.social li {
    display: inline-block;
    color: white;
    font-size: 10pt;
    font-weight: bold;
    padding: 0 .3em;
  }

  ul.social li a {
    font-weight: normal;
  }

/* content */

  ul.contacts {
    padding: 0;
    margin: 0;
  }

form.contact {
  overflow: auto;
  width: 960px;
}

form div.field {
  margin: 10px 0;
  padding: 0 1px;
  box-sizing: border-box;
}

form div.field.small {
  width: 320px;
  float: left;
}

form div.field.big {
  width: 960px;
}

form div.small label,
form div.big label {
  margin: 0 1px;
  font-size: .85em;
  display: block;
  color: #444;
  text-transform: uppercase;
  font-weight: 800;
}

form div.big label {
  width: 100%;
}

form div.small input,
form div.big textarea {
  display: block;
  outline: none;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 1em;
}

form div.small input {
  width: 290px;
}

form div.big textarea {
  height: 200px;
  width: 930px;
  max-width: 930px;
}

button.btn {
  background-image: none;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  padding: 8px 20px;
  border: 1px solid #555555;
  background-color: #ffffff;
  color: #555555;
}

button.add,
button.edit,
button.delete
 {
  border: 1px solid transparent;
  color: #ffffff;
}

button.add {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

button.edit {
  background-color: #5bc0de;
  border-color: #46b8da;
}

button.delete {
  background-color: #d9534f;
  border-color: #d43f3a;
}

section.contact-form {
  position: relative;
  padding-bottom: 41px;
}

div.submit {
  position: absolute;
  overflow: auto;
  margin: 0;
  padding: 0;
  width: 50%;
  bottom: 0;
}

div.submit.edit {
  left: 0;
}

div.submit.delete {
  right: 6px;
  text-align: right;
}

ul.contacts {
  list-style: none;
  padding: 0;
}

ul.contacts li.contact {
  padding: 5px 5px;
  overflow: auto;
  border-bottom: 1px solid #efefef;
}

ul.contacts li.contact:first-child {
  border-top: 1px solid #efefef;
}

ul.contacts li.contact:hover {
  background: #eee;
}

ul.contacts li.contact div.name {
  float: left;
  height: 26px;
  line-height: 32px;
}

li.contact div.name a {
  display: inline-block;
  font-size: 10pt;
  width: 779px;
}

ul.contacts li.contact div.edit,
ul.contacts li.contact div.delete {
  float: left;
  padding-left: 5px;
}

ul.contacts li.contact div.edit button,
ul.contacts li.contact div.delete button {
  float: right;
  width: 80px;
}

.show_contact article {
  margin: 25px 0;
}

.show_contact p.content {
  margin: 10px 20px;
}

form.inline,
form.inline div.field {
  display: inline;
}
